<%= form_for(gwa) do |f| %>
  <% if gwa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gwa.errors.count, "error") %> prohibited this gwa from being saved:</h2>

      <ul>
      <% gwa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
