<div class="container" id="main-view">

  <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
      <div class="dropdown" style="margin-top:20px;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%"></button>
        <ul class="dropdown-menu">
          <% AlleleFrequency.pluck(:genotype).uniq.each do  |g| %>
            <li><%= link_to c %><span class="caret"></span></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" style="overflow-x:scroll;">
      <br>
      <table id="allele-frequencies-table" class="table table-striped table-bordered" >
        <thead>
        <tr>
          <th colspan="3"></th>
          <th colspan="13">HLA-A</th>
        </tr>
        <tr>
          <th>Site</th>
          <th>diagnosis</th>
          <th>n</th>
          <th>0101</th>
          <th>0201</th>
          <th>0301</th>
          <th>1101</th>
          <th>2301</th>
          <th>2402</th>
          <th>2501</th>
          <th>2601</th>
          <th>2902</th>
          <th>3001</th>
          <th>3101</th>
          <th>3201</th>
          <th>6801</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>
<!--<script>
    $.fn.dataTable
        .tables( { visible: true, api: true } )
       .columns.adjust()
      .fixedColumns().relayout();
</script>-->