<div class="container" style="margin-bottom:50px;">

  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-indigo btn-block dataview-collapse-btn" data-toggle="collapse" data-target="#Samples">View Sample Data</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-indigo btn-block dataview-collapse-btn" data-toggle="collapse" data-target="#HLAs">View HLA Data</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-indigo btn-block dataview-collapse-btn" data-toggle="collapse" data-target="#KIRs">View KIR Data</button>
    </div>
  </div>
  <hr>

  <%= render 'dataview/sample_table' %>

  <%= render 'dataview/hla_table' %>

  <%= render 'dataview/kir_table' %>

</div>
