<div class="container" id="main-view">

  <div class="row">
    <div class="col-sm-4">
      <h2 ><span id="sample-indigo-id"><%= @sample_indigo_id%></span> - <span id="sample-locus"><%= @sample_locus %></span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="overflow-x:scroll;">
      <br>
      <table id="single-kir-work-in-progress-version-table" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>INDIGO ID</th>
          <th>Locus</th>
          <th>Method</th>
          <th>Batch</th>
          <th>Genotype</th>
          <th>Status</th>
          <th>Added To Database</th>
          <th>Raw Data Directory</th>
          <th>KIR Extracted Directory</th>
          <th>Output Directory</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>
