<div class="container" id="main-view">

  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <br>
      <%= link_to "Download All Samples", dataview_download_sample_data_path(format: :csv, message: @test), :class=> "btn btn-indigo" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="overflow-x:scroll;">
      <br>
      <table id="stacy-samples-table" class="table table-striped table-bordered" data-source="<%= dataview_sample_status_url(format:"json") %>">
        <thead>
          <tr>
            <th>INDIGO ID</th>
            <th>Source</th>
            <th>Source Study</th>
            <th>Site ID</th>
            <th>Disease</th>
            <th>Date Received @UCSF</th>
            <th>Date Sent to Stanford</th>
            <th>Sequence for HLA, KIR, or both</th>
            <th>HLA genotype available</th>
            <th>KIR genotype available</th>
            <th>KIR raw data received</th>
            <th>Link to GWAS</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>
