<div class="container">
    <h3>Email: <%= @user.email %></h3>
    <h3>Affiliation: <%= @user.affiliation %></h3>
    <h3>Account Created: <%= date_format(@user.created_at) %></h3>
    <%= link_to "Edit My Profile", edit_user_registration_path, :class => "btn btn-indigo" %>

</div>
