<div class="row">
    <div class="col-sm-12 table-container" style="overflow-x:scroll;">
        <table id="site-samples-progress-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                <th>Date Samples Received at UCSF</th>
                <th>Date Samples Sent to Stanford</th>
                <th>Samples to be sequenced for HLA, KIR, or both</th>
                <th>Cases</th>
                <th>Controls</th>
                <th>Samples with Phenotype Data</th>
                <th>Samples Sent to Stanford for Sequencing</th>
                <th>Samples Raw Data Received at UCSF for Genotype Calling (KIR only)</th>
                <th>Samples with Finished Genotypes (HLA)</th>
                <th>Samples with Finished Genotypes (KIR)</th>
                <th>Samples with GWAS data</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                <th>Total</th>
                <th>-</th>
                <th>-</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>