<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2><%= @dataset.source %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <th>Proposed Cases and Controls</th>
          <th>Date Samples Expected To Be Received at UCSF</th>
          <th>Date Samples Received at UCSF</th>
          <th>Date Samples Expected To Be Sent to Stanford</th>
          <th>Date Samples Sent to Stanford</th>
          <th>Samples To Be Sequenced For HLA, KIR, or Both</th>
          <th>N of Case \& Control Samples Sent to Stanford for Sequencing</th>
          <th>N of Case \& Control Raw Data Received at UCSF For Genotype Calling (KIR only)</th>
          <th>N of Case \& Control Genotypes Finished, with Version Indicated</th>
          <th>GWAS Dataset Received at UCSF, % of HLA/KIR Samples Covered By GWAS</th> 
        </thead>
      </table>
    </div>
  </div>

</div>
