<div class="container welcome-contain content-body">

  <div class="row">
    <div class="col-sm-9" style="border-top:1px solid #696969;">
      <h1>Status of INDIGO Data Deposits to Immport</h1>
    </div>
    <div class="col-sm-3" style="border-top:1px solid #696969;">
    </div>
  </div>

  <br>
  <%= render 'welcome/partials/immport_status_table' %>
</div>