
<div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class ="container">
        <br>
        <p class='text-justify common_text'>
          The overall goal of the The Immunogenetics of Neurological DIseases working GrOup (INDIGO) is to understand the  determinants of disease risk in neurological diseases such as multiple sclerosis, Parkinson's disease, schizophrenia, neuromyelitis optica, and myasthenia gravis. We will use next generation sequencing (NGS) along with a massive sample collection to characterize the HLA and KIR genes and alleles that make an individual susceptible to these central nervous system diseases.
        </p>
        <br>
        <p class='text-justify common_text'>
          To achieve our goals, we have assembled a multi-disciplinary international team that brings together complementary expertise (immuno- and neuro-genetics, clinical, and computational) and a remarkable track record of productivity to carry out a study of broad scope and depth. Through this collaboration, we will leverage rich and informative datasets exceeding 15,000 study participants (cases) and connect genetics with CNS disease utilizing advanced molecular and bio-informatics tools.
        </p>
        <br>
        <p class='text-justify common_text'>
           We believe the isolation of definite HLA-KIR associations with the risk of neuroinflammation and neurodegeneration could be transformative by revealing fundamental insights about primary disease mechanisms.
        </p>
        <br>
        <h5 class="text-center footer_header">This project has been made possible by the National Institute of Health (1 U19 AI119350-01, HLA and KIR Region Genomics in Immune-Mediated Diseases - UCSF & Stanford University).</h5>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <br>
        <div class="row">
          <div id="myPieChart" class="col-sm-6"></div>
          <div id="myPieChart2" class="col-sm-6"></div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        </br>
        <div class="row">
          <div class="col-md-4 col-xs-2"></div>
          <div id="sankeybasic" class="col-md-4 col-xs-8"></div>
        </div>
      </div>
    </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<script type="text/javascript">

  google.charts.load('current', {packages: ['corechart', 'sankey']});

  google.charts.setOnLoadCallback(drawEurPieChart);

  google.charts.setOnLoadCallback(drawNonEurPieChart);

  google.charts.setOnLoadCallback(drawSankeyChart);

  function drawEurPieChart() {
    // Define the chart to be drawn.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Element');
    data.addColumn('number', 'Percentage');
    data.addRows([
      ["Parkinson's Disease", 3300],
      ["Schizophrenia", 5050],
      ["Neuromyelitis Optica", 1025],
      ["Myasthenia Gravis", 950],
      ["Multiple Sclerosis", 2000],
      ["Healthy Control", 1000]
    ]);

    var options = {
      title: "European Study Participants",
      is3D: true,
      pieSliceText: "none",
      colors:['#EE1289','#2E37FE','#B0171F','#24D330','#320b59','orange'],
      pieStartAngle: '30',
      chartArea:{left:0,top:50,width:'100%',height:'100%'},
      height:'400',
      width:'500',
      legend: {position:'left', textStyle: {fontSize:16}},
      titleTextStyle: {fontSize:20}
    }
    // Instantiate and draw the chart.
    var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
    chart.draw(data, options);
  }



  function drawNonEurPieChart() {
    // Define the chart to be drawn.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Element');
    data.addColumn('number', 'Percentage');
    data.addRows([
      ["Schizophrenia", 1500],
      ["Neuromyelitis Optica", 530],
      ["Multiple Sclerosis", 2300],
      ["Healthy Control", 1700]
    ]);

    var options = {
      title: "Non-European Study Participants",
      is3D: true,
      pieSliceText: "none",
      pieSliceTextStyle: {color:'black', size:'16'},
      colors:['#2E37FE','#B0171F','#320b59','orange'],
      pieStartAngle: '30',
      chartArea:{left:0,top:50,width:'100%',height:'100%'},
      height:'400',
      width:'500',
      legend: {position:'left', textStyle: {fontSize:16, color:'black'}},
      titleTextStyle: {fontSize:20}
    }
    // Instantiate and draw the chart.
    var chart = new google.visualization.PieChart(document.getElementById('myPieChart2'));
    chart.draw(data, options);
  }

  function drawSankeyChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'From');
    data.addColumn('string', 'To');
    data.addColumn('number', 'Weight');
    data.addRows([
      [ 'KIR2DL1', 'HLA-C', 5 ],
      [ 'KIR2DL2/3', 'HLA-C', 5 ],
      [ 'KIR2DL2/3', 'HLA-B', 5 ],
      [ 'KIR2DS1', 'HLA-C', 5 ],
      [ 'KIR2DS2', 'HLA-C', 5 ],
      [ 'KIR2DS2', 'HLA-B', 5 ],
      [ 'KIR2DS2', 'HLA-A', 5 ],
      [ 'KIR3DL1/S1', 'HLA-B', 5 ],
      [ 'KIR3DL1/S1', 'HLA-A', 5],
      [ 'KIR2DS4', 'HLA-C', 5],
      [ 'KIR2DS4', 'HLA-A', 5],
      [ 'KIR3DL2', 'HLA-A', 5]
    ]);

    var colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
              '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];

    // Sets chart options.
    var options = {
      width: '400',
      height: '400',
      sankey: {
        node: {
          colors: colors,
          nodePadding: '10',
          labelPadding: '0'
        },
        link: {
          colorMode: 'gradient',
          colors: colors
        }
      },
      tooltip:null
    };

    // Instantiates and draws our chart, passing in some options.
    var sankeychart = new google.visualization.Sankey(document.getElementById('sankeybasic'));
    sankeychart.draw(data, options);
  }
</script>
</div>
