<h1 class="welcome_header text-center">indigo</h1>
<h4 class="welcome_sub_header text-center">A collaborative study to better understand neurodegenerative diseases</h4>
<nav class="navbar navbar-default">
  <div class="container">
  </div>
</nav>
