<h1 class="welcome_header text-center">indigo</h1>
<h4 class="welcome_sub_header text-center">A collaborative study to better understand neurodegenerative diseases</h4>
<nav class="navbar navbar-default">
  <div class="container">
  </div>
</nav>
<div class ="container">
  <br>
  <p class='text-justify common_text'>
    The overall goal of the The Immunogenetics of Neurological DIseases working GrOup (INDIGO) is to understand the  determinants of disease risk in neurological diseases such as multiple sclerosis, Parkinson's disease, schizophrenia, neuromyelitis optica, and myasthenia gravis. We will use next generation sequencing (NGS) along with a massive sample collection to characterize the HLA and KIR genes and alleles that make an individual susceptible to these central nervous system diseases.
  </p>
  <br>
  <p class='text-justify common_text'>
    To achieve our goals, we have assembled a multi-disciplinary international team that brings together complementary expertise (immuno- and neuro-genetics, clinical, and computational) and a remarkable track record of productivity to carry out a study of broad scope and depth. Through this collaboration, we will leverage rich and informative datasets exceeding 15,000 study participants (cases) and connect genetics with CNS disease utilizing advanced molecular and bio-informatics tools.
  </p>
  <br>
  <p class='text-justify common_text'>
     We believe the isolation of definite HLA-KIR associations with the risk of neuroinflammation and neurodegeneration could be transformative by revealing fundamental insights about primary disease mechanisms.
  </p>
  <br>
  <h5 class="text-center footer_header">This project has been made possible by the National Institute of Health (1 U19 AI119350-01, HLA and KIR Region Genomics in Immune-Mediated Diseases - UCSF & Stanford University).</h5>
</div>
