<div class="container welcome-contain">

  <div class="row">
    <div class="col-sm-9" style="border-top:1px solid #696969;">
      <h1>Progress of Sample Processing</h1>
    </div>
    <div class="col-sm-3" style="border-top:1px solid #696969;">
      <div class="dropdown" style="margin-top:20px;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%">Select an INDIGO Site&nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to "All Collaborators", welcome_progress_path %></li>
          <% @collaborators.each do |c| %>
            <li><%= link_to c.name, welcome_dataset_path(collaborator_id: c.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <table id="collaborators-progress-table" class="table table-striped table-bordered" data-source="<%= welcome_collaborator_status_url(format:"json") %>">
        <thead>
          <tr>
            <th>Site</th>
            <th>Diagnosis</th>
            <th>Proposed Cases and Controls</th>
            <th>Samples Received at UCSF</th>
            <th>Samples Sent to Stanford</th>
            <th>HLA genotypes available - controls</th>
            <th>HLA genotypes available - cases</th>
            <th>KIR raw data received at UCSF</th>
            <th>KIR genotypes available - controls</th>
            <th>KIR genotypes available - cases</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th> - </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
