/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require gritter
 *= require animate
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *
 *= require trix
 *= require bootstrap-datepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */
/* to use, include as values to CSS properties */
/* Google material design color palettes : https://material.google.com/style/color.html#color-color-palette */

$indigo: #320b59;  /* alternate: #320b59;  */
$light-light-grey: #FAFAFA;
$seashell: #EEE5DE;
$navbar-grey: #F8F8F8;

body {
  background-color: $seashell;
}
.table-row {
  overflow-x: scroll;
}
/* Typography */
.welcome_header {
  color: $indigo;
  font-size: 7em;
}
.welcome_sub_header {
  color:white;
  padding-top:3.5em;
}

#footer-block {
  min-height:100px;
  border-top:1px solid black;
  background-color: $indigo;
}
#footer-spacer {
  min-height:5px;
  background-color: #696969;
  border-top:1px solid black;
}
.footer_header {
  color: white;
  font-size: 1.3em;
}
.footer-link {
  color: white;
}
.common_text {
  font-size: 1.3em;
}
.indigo_text {
  color: $indigo;
}
.navbar .nav > li > a {
  text-shadow: 1px 2px 1px rgba(0,0,0,2);
  color:white;
}
p {
  line-height: 1.5;
}

.table td, th {
  text-align: center;
}

/* layout */
.navbar-nav > li > a, .navbar-brand {
    padding-top:2px !important; padding-bottom:0 !important;
    height: 22px;
}
.navbar {min-height:22px !important; margin-bottom:0px;}

.navbar-default {
  background-color: #696969;
  border-color: #696969;
  border-bottom-color: #2a2a2a;
  border-radius: 0px;
}
.centering-box {
  margin: 0 auto;
  border: 1px solid $indigo
}

.profile_info_card {
  background-color: $navbar-grey;
  border: 1.5px solid $indigo;
  border-radius: 10px;
}

.hide-element {
  display: none;
}
.content-body {
  border-top:1px solid black;
  background-color:white;
  min-height: 100vh;
  padding-bottom: 30px;
}
/* buttons */

.btn-indigo {
  color: white !important;
  background-color: $indigo;
}
.btn-indigo:hover {
  color: white;
}

.btn-indigo:focus {
  color: white;
}

.dataview-collapse-btn {
  padding-left:10px;
  padding-right:10px;
}

.list-group-item-dataview {
  background-color: $light-light-grey !important;
}
.chart-disclaimer {
  font-size: 11pt;
}

/* table styling */

.column-select-toggle {
  border:1px solid #dddddd;
  border-radius:6px;
}

.not_found_graphic {
  // background-image: image_url("not_found.png");
  // background-repeat: no-repeat;
  // background-position: center;
  width: 100%;
}
