/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */
/* to use, include as values to CSS properties */
/* Google material design color palettes : https://material.google.com/style/color.html#color-color-palette */

$indigo: #4B0082;
$light-light-grey: #FAFAFA;


/* Typography */
.welcome_header {
  color: $indigo;
  font-size: 7em;
}
.welcome_sub_header {
  color:$indigo;
}
.footer_header {
  color: $indigo;
  font-size: 1.3em;
}
.footer_link {
  color: $indigo;
}
.common_text {
  font-size: 1.3em;
}
.indigo_text {
  color: $indigo;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* layout */

.centering-box {
  margin: 0 auto;
  border: 1px solid $indigo
}


/* buttons */

.btn-indigo {
  color: white;
  background-color: $indigo;
}
.btn-indigo:hover {
  color: white;
}

.btn-indigo:focus {
  color: white;
}

.profile_info_card {
  border: 1.5px solid $indigo;
  border-radius: 10px;
}
/* carousel */

.carousel-control {
  background: none !important;
  filter: none !important;
  progid:none !important; }
