/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 *= require animate
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require bootstrap-table
 *= require trix
 *= require bootstrap-datepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */
/* to use, include as values to CSS properties */
/* Google material design color palettes : https://material.google.com/style/color.html#color-color-palette */

$indigo: #330099;  /* alternate: #320b59;  */
$light-light-grey: #FAFAFA;
$seashell: #EEE5DE;
$navbar-grey: #F8F8F8;


/* Typography */
.welcome_header {
  color: $indigo;
  font-size: 7em;
}
.welcome_sub_header {
  color:white;
  padding-top:3.5em;
}
.footer_header {
  color: $indigo;
  font-size: 1.3em;
}
.footer-link {
  color: $indigo;
}
.common_text {
  font-size: 1.3em;
}
.indigo_text {
  color: $indigo;
}
.navbar .nav > li > a {
  text-shadow: 1px 2px 1px rgba(0,0,0,2);
  color:white;
}
p {
  line-height: 1.5;
}

.table td, th {
  text-align: center;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* layout */
.navbar-nav > li > a, .navbar-brand {
    padding-top:2px !important; padding-bottom:0 !important;
    height: 22px;
}
.navbar {min-height:22px !important; margin-bottom:0px;}

.navbar-default {
  background-color: #696969;
  border-color: #696969;
  border-bottom-color: #2a2a2a;
  border-radius: 0px;
}
.centering-box {
  margin: 0 auto;
  border: 1px solid $indigo
}

.profile_info_card {
  background-color: $navbar-grey;
  border: 1.5px solid $indigo;
  border-radius: 10px;
}

.hide-element {
  display: none;
}

/* buttons */

.btn-indigo {
  color: white !important;
  background-color: $indigo;
}
.btn-indigo:hover {
  color: white;
}

.btn-indigo:focus {
  color: white;
}

.dataview-collapse-btn {
  padding-left:10px;
  padding-right:10px;
}

.list-group-item-dataview {
  background-color: $light-light-grey !important;
}
.chart-disclaimer {
  font-size: 11pt;
}

/* table styling */

.column-select-toggle {
  border:1px solid #dddddd;
  border-radius:6px;
}

/* animation */

.welcome-contain {
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: .5s;
  -moz-animation-duration: .6s;
  -moz-animation-delay: .5s;
  -ms-animation-duration: .6s;
  -ms-animation-delay: .5s;
}
/* carousel */

.carousel-control {
  background: none !important;
  filter: none !important;
  progid:none !important; }

/* spinner */
.spinner {
  margin-top:200px;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $indigo;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
