// Place all the styles related to the dataview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkbox-inline  {
  padding-right:20px;
}
.underlineText {
  text-decoration: underline;
  font-weight:bold;
}
.dataset-graph-container {
  min-height: 400px;
}
