// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-body {

}
.grant-credit {
  color: black;
}
.table-tab-bar {
  margin-top: 15px;
  width: 100%;
  margin-left: 0;
}
.table-tab > a {
  font-size:12pt;
}
#collaborators-progress-table {
  overflow-x:scroll;
}