<div class="tab-pane fade" id="graphs">
  <div class="row">
    <br></br>
    <div class="col-lg-4">
      <div id="race-graph" class="dataset-graph-container"></div>
    </div>
    <div class="col-lg-4">
      <div id="sex-graph"  class="dataset-graph-container"></div>
    </div>
    <div class="col-lg-4">
      <div id="age-graph"  class="dataset-graph-container"></div>
    </div>
  </div>
</div>