<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <h6 class="text-center footer_link">Maintained by the UCSF MS DCC - <a class="footer_link" href="#">Contact the webmaster</a></h6>
  </div>
</nav>
