<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <h6 class="text-center footer_link">Maintained by the UCSF MS DCC - <%= link_to "Contact the webmaster", contacts_path, :class => 'footer_link' %></h6>
  </div>
</nav>
